*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
}

/* ================================================= */
/* === CABEÇALHO === */
.container-cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #0C0248;
    color: white;

    padding: 1%;
    width: auto;

}

/* TITULO-CABEÇALHO */
.titulo-h1{
    padding-left: 4rem;
}

/* CAIXA DE PESQUISA */
.caixa-de-busca{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 3em;
}
#img-pesquisa{
    height: 2em;
    padding-left: 10px;
}
#busca{
    width: 12em;
    height: 10%;
    font-size: 25px;
}

/* ================================================= */
/* === CORPO DO TEXTO === */
.container-principal{
    box-sizing: border-box;
}
.container-imagens{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    max-width: 100%;

}

.sobre-videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 2px 2px #c6bcfc;
    border: 1px 1px black;
    box-sizing: border-box;

    margin: 40px 50px;
    padding: 20px;


}

.img-videos{
    width: 10em;
    height: 18em;
}


/* ================================================= */
/* === RODAPÉ === */
.container-rodape{
    background-color: #0C0248;
    color: white;

}

.desenvolvimento{
    display: flex;
    justify-content: center;

    padding-bottom: 30px;
}

.container-contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px;
}

.img-redes-sociais{
    display: flex;
    flex-direction: row;

    padding-top: 20px;
}

.img-contato{
    padding: 5px;
}

.img-contato-formato{
    height: 5em;
    width: 10em;
}

/* ============================================================================== */
/* ============================================================================== */
/* ============================================================================== */
/* VIDEO */

.video{
    width: 1900px;
    height: 1080px;
}

.container-video{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.sobre-abertura{
    display: flex;
    justify-content: center;
    
    font-size: 40px;
    padding: 30px;
}


@media screen and (max-device-width: 600px){
    .container-cabecalho{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        padding: 10px;
    }

    .caixa-de-busca{
        padding-left: 140px;
    }

    .container-imagens{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: replace(1fr);
        flex-wrap: nowrap;
    }

    .container-rodape{
        width: 100%;
    }
    .img-redes-sociais{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .img-contato-formato{
        height: 40px;
    }
}
