/** =================================================================================== **/
/* Papel de Parede */
body{
    background-image: url(imagens/Papel\ de\ Parede.jpg);
}

/** =================================================================================== **/
/** CABEÇALHO**/
.cabecalho{
    background-color: rgb(174, 247, 247);
}
.img{
    float: left;
    width: 5%;
}
.titulo-principal,
p{
    font-size: "Open sans condensed", "arial", sans-serif;
    text-align: center;
}
/** =================================================================================== **/
/* ABAS */
.abas{
    color: black;
    background-color: azure;
    border: 1px solid black;
    margin: -3px;
    padding: 4px 10px;
}

/** =================================================================================== **/
/** RODAPÉ **/
#linha-horizontal{
    width: 100%;
    border: 1px solid;
}
.redes-sociais{
    text-align: left;
}
/** =================================================================================== **/